* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    background-color: white;
}


/* Header */
.top-navigation {
    width: 100%;
    background-color: #ffffff;
    border-bottom: 1px solid #f1f5f9;
    padding: 20px 0;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.nav-container {
    max-width: 1360px; 
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
}


.logo {
    display: flex;
    align-items: center;
    gap: 12px;
}

.logo img {
    height: 40px;
}

.logo-text {
    display: flex;
    flex-direction: column;
}

.brand-name {
    font-size: 32px;
    
    font-weight: 800;
    color:#489b6e;
    line-height: 1;
}

.brand-sub {
    font-size: 5px;
    color: #64748b;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

/* Nav Link Styles */
.nav-links {
    display: flex;
    gap: 32px;
}

.nav-links a {
    text-decoration: none;
    color: #475569;
    font-size: 20px;
    font-weight: 500;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #48946c;
}

/* Button Styles */
.btn-green {
    background-color: #48946c; 
    color: #ffffff;
    padding: 12px 24px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: 600;
    
}

.btn-green:hover {
    background-color: #3d7e5c;
}

/* Mobile Responsive */

.hero-section {
    background:url(./devlo.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    padding: 0 20px;
}

.content {
    max-width: 800px;
}

.badge {
    background: rgba(255, 255, 255, 0.322);
    padding: 8px 16px;
    border-radius: 50px;
    font-size: 14px;
    display: inline-block;
    margin-bottom: 20px;
    border: 1px solid rgba(255, 255, 255, 0.3)
}

.badge span {
    color: #4ade80;
    margin-right: 5px;
}

h1 {
    font-size: 3.5rem;
    line-height: 1.2;
    margin-bottom: 20px;
}

p {
    font-size: 1.1rem;
    color: #cbd5e1;
    margin-bottom: 30px;
    line-height: 1.6;
}

.cta-group {
    display: flex;
    gap: 15px;
    justify-content: center;
}

.btn-primary {
    background-color: #489b6e;
    color: withe;
    padding: 12px 24px;
    border-radius: 6px;
    text-decoration: none;
    font-weight: 600;
}
.btn-primary:hover {
    background-color: #3d845c;
}

.btn-outline {
    background-color:transparent;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.5);
    padding: 12px 24px;
    border-radius: 6px;
    text-decoration: none;
    display: flex;
    align-items: center;
    font-weight: 600;
    
}

.btn-outline:hover {
    background-color: rgba(255, 255, 255, 0.1);
}